@import '../styles/_variables.scss';

.app-wrapper {
    height: 100vh; width: 100vw;
}

.app-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: $light-gray;

    .app-top-bar-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        .app-top-bar-logo-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: $primary-color;
            margin-right: 15px;

            .app-top-bar-logo {
                color: $white;
                padding: 0 15px;
            }
        }
    }

    .app-top-bar-item {
        color: $black;
        margin-right: 15px;
    }
}

.app-content {
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: $super-light-gray;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 50px;
}

.app-alerts {
    margin: 0;
    z-index: 1000;
}