<div class="app-wrapper">

  <!-- Tob Bar -->
  <div class="app-top-bar">
    <div class="app-top-bar-left">
      <div class="app-top-bar-logo-wrapper">
        <i class="app-top-bar-logo fa fa-line-chart"></i>
      </div>
      <div class="app-top-bar-item">Stock Club App</div>
    </div>
    <button type="button" class="btn btn-link" (click)="logout()">Logout</button>
  </div>

  <!-- Alerts  -->
  <ngb-alert *ngIf="persistentNotification"
    class="app-alerts"
    [type]="persistentNotification.type"
    [dismissible]="true"
    (close)="closePersistentNotification()">
      {{ persistentNotification.message }}
  </ngb-alert>
  <ngb-alert *ngIf="transientNotification"
    class="app-alerts"
    [type]="transientNotification.type"
    [dismissible]="false"
    (close)="closeTransientNotification()">
      {{ transientNotification.message }}
  </ngb-alert>
    

  <!-- Rest of App -->
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>