<mat-card>
    <mat-card-header class="medium-text-bold">
        Stock Club Funds
    </mat-card-header>
    <mat-card-content>
        <div class="small-text-bold display-flex-row">
            Total Money:&nbsp;
            <div class="small-text">
                {{ stockClubFunds.total | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Available for Trading:&nbsp;
            <div class="small-text">
                {{ stockClubFunds.available | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Pending:&nbsp;
            <div class="small-text">
                {{ stockClubFunds.pending | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Used:&nbsp;
            <div class="small-text">
                {{ stockClubFunds.used | currency }}
            </div>
        </div>
    </mat-card-content>
    <mat-card-header class="medium-text-bold">
        Personal Funds
    </mat-card-header>
    <mat-card-content>
        <div class="small-text-bold display-flex-row">
            Total Money:&nbsp;
            <div class="small-text">
                {{ personalFunds.total | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Available for Trading:&nbsp;
            <div class="small-text">
                {{ personalFunds.available | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Pending:&nbsp;
            <div class="small-text">
                {{ personalFunds.pending | currency }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Used:&nbsp;
            <div class="small-text">
                {{ personalFunds.used | currency }}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button mat-button class="primary-button" (click)="openAddFundsModal()">
            Add Funds
        </button>
    </mat-card-actions>
</mat-card>