<div class="card margin-bottom-15">
    <div class="card-body">
        <div class="card-title medium-text-bold margin-bottom-15">
            Stock Club Funds
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money:&nbsp;
            <div class="small-text">
                {{ totalMoney }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Available for Trading:&nbsp;
            <div class="small-text">
                {{ availableMoney }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Pending:&nbsp;
            <div class="small-text">
                {{ pendingMoney }}
            </div>
        </div>
        <div class="small-text-bold display-flex-row">
            Total Money Used:&nbsp;
            <div class="small-text">
                {{ usedMoney }}
            </div>
        </div>
    </div>
</div>