// Primary Colors
$dark-primary-color: #37006a;
$primary-color: #691b99;
$light-primary-color: #9b4dcb;

// Secondary Colors
$dark-secondary-color: #8e0000;
$secondary-color: #c62828;
$light-secondary-color: #ff5f52;

// Common Colors
$white: #ffffff;
$black: #000000;
$super-light-gray: #f5f5f5;
$light-gray: #d3d3d3;
$gray: #808080;
$dark-gray: #696969;
$selection-color: #007bff;

// Font
$font-family: Helvetica;
