
<div class="modal-header">
  <div class="modal-title large-text">Add Funds</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="contribution">Contribution</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text"
            class="form-control"
            id="new-funds-contribution"
            placeholder="Enter dollar amount..."
            [(ngModel)]="contribution">
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text"
          class="form-control"
          id="new-member-last-name"
          placeholder="Last name..."
          [(ngModel)]="newMember.lastName">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
          class="form-control"
          id="new-member-email"
          placeholder="Email..."
          [(ngModel)]="newMember.email">
    </div> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn primary-button" (click)="addFunds()">Add</button>
  <button type="button" class="btn secondary-button" (click)="activeModal.close('close')">Cancel</button>
</div>