/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "styles/_variables.scss";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.tiny-text {
    font: 10px $font-family;
}

.small-text {
    font: 14px $font-family; 
}

.medium-text {
    font: 18px $font-family;
}

.large-text {
    font: 22px $font-family;
}

.tiny-text-bold {
    font: bold 10px $font-family;
}

.small-text-bold {
    font: bold 14px $font-family; 
}

.medium-text-bold {
    font: bold 18px $font-family;
}

.large-text-bold {
    font: bold 22px $font-family;
}

.sub-text {
    color: $gray;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.primary-button {
    background-color: $secondary-color;
    float: right;
    color: $white;
    margin-left: 15px;
    min-width: 90px;
}

.secondary-button {
    background-color: $light-secondary-color;
    float: right;
    color: $white;
    margin-left: 15px;
    min-width: 90px;
}

.curser-pointer {
    cursor: pointer;
}

.tab-active {
    color: #ffffff !important;
    background-color: $primary-color;
}

mat-dialog-container.mat-dialog-container {
    padding: 0;
}