<mat-card>
    <mat-card-header>
            Stock Club Members
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let member of members" (click)="selectedMemberId = member.id" [ngClass]="{'active': selectedMemberId === member.id}">
                <div matLine class="small-text">
                    {{ member.firstName }} {{ member.lastName }}
                </div>
                <div matLine class="tiny-text sub-text">
                    {{ member.email }}
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
        <button type="button" class="btn secondary-button" (click)="deleteMember()" [disabled]="!selectedMemberId">Delete Member</button>
        <button type="button" class="btn primary-button" (click)="openAddMemberModal()">Add Member</button>
    </mat-card-actions>
</mat-card>
