<div class="card margin-bottom-15">
    <div class="card-body">
        <div class="card-title medium-text-bold margin-bottom-15">
            Stock Club Members
        </div>
        <ul class="list-group">
            <li *ngFor="let member of members" class=list-group-item (click)="selectedMemberId = member.id" [ngClass]="{'active': selectedMemberId === member.id}">
                <div class="small-text">
                {{ member.firstName }} {{ member.lastName }}
                </div>
                <div class="tiny-text sub-text">
                    {{ member.email}}
                </div>
            </li>
        </ul>
        <button type="button" class="btn secondary-button margin-top-15" (click)="deleteMember()" [disabled]="!selectedMemberId">Delete Member</button>
        <button type="button" class="btn primary-button margin-top-15" (click)="openAddMemberModal()">Add Member</button>
    </div>
</div>
