<div class="card">
    <div class="card-body">
        <div class="card-title medium-text-bold margin-bottom-15">
            Stock Club Members
        </div>
        <ul class="list-group">
            <li *ngFor="let member of members" class=list-group-item>
                <div class="small-text">
                {{ member.firstName }} {{ member.lastName }}
                </div>
                <div class="tiny-text sub-text">
                    {{ member.username}}
                </div>
            </li>
        </ul>
        <button type="button" class="btn card-primary-button margin-top-15" (click)="openAddMemberModal()">Add Member</button>
    </div>
</div>
